<html>

<head>



	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>
<body>

	<center><h1>RolePlay</h1></center>
	<div class="signup">
	<form class="loginForm" action="/signup_proc" method='post'>
	<input type="text" id="username" name="username" placeholder="username" /><br/>
	<input type="password" id="password" name="password"  /><br/>
					<input type="text" id="yourName" name="yourName" placeholder="Your nick name" /><br/>
					<input type="text" id="yourEmail" name="yourEmail" placeholder="Your email address" /><br/>
					<input type="submit" id="yourEnter" value="ENTER" />
				</form>
				</body>
				</html>
				</div>
